.container{
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(8, 50px);
}

header {
    background-color: aqua;
}

main {
    background-color: aqua;
}

aside {
    background-color: aqua;
}
